PRODUCT_NAME=

FLASK_ENV=

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

GF_SMTP_ENABLED=
GF_SMTP_HOST=
GF_SMTP_USER=
GF_SMTP_PASSWORD=
GF_SMTP_FROM_ADDRESS=
GF_SMTP_FROM_NAME=
GF_SMTP_SKIP_VERIFY=
GF_SMTP_STARTTLS_POLICY=
GF_SMTP_EHLO_IDENTITY=

SUPABASE_DB_URL=

SUPABASE_URL=
SUPABASE_ANON_KEY=
NEXT_PUBLIC_BACKEND_URL=

# Supabase (Auth Service)
SUPABASE_URL=
SUPABASE_ANON_KEY=
